.available{
    .fas{
        font-size: 40px;
    }
}

.example-card {
    max-width: 500px;
    background-color: whitesmoke
}
.text-break{
    word-break: break-all;
    word-wrap: break-word;
}
  